body {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 5%;
}

body {
    background-color: rgb(14, 109, 187);
}

h2 {
    color: rgb(224, 140, 12);
}

.tarjeta {
    background-color: rgb(0, 0, 0);
}